<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.Smile.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FoodQueryServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.Smile.Servlet.FoodQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFoodServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.Smile.Servlet.AddFoodServlet</servlet-class>
    <init-param><!-- Servlet的初始化参数，配置上传文件的保存路径，这里是当前应用的FoodImgs目录下 -->
    	<param-name>savaPath</param-name>
    	<param-value>FoodImgs</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.Smile.Servlet.DeleteFoodServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JsonServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.Smile.Servlet.JsonServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckUserServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.Smile.Servlet.CheckUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RejistUserServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.Smile.Servlet.RejistUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderFoodServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>com.Smile.Servlet.OrderFoodServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FoodQueryServlet</servlet-name>
    <url-pattern>/servlet/FoodQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFoodServlet</servlet-name>
    <url-pattern>/servlet/AddFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <url-pattern>/servlet/DeleteFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/servlet/JsonServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/servlet/CheckUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RejistUserServlet</servlet-name>
    <url-pattern>/servlet/RejistUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderFoodServlet</servlet-name>
    <url-pattern>/servlet/OrderFoodServlet</url-pattern>
  </servlet-mapping>

</web-app>